*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.red-text{
    color: #E55473 ;
}
.primary-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    margin-bottom: 20px;
}
/* Header section style start here.......... */
header{
    background-color: #FCEEF1;
    width: 100%;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px 0px 200px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 62px;
    margin-bottom: 20px;
    max-width: 650px;
}
.banner-copy{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    max-width: 600px;
}
.btn-primary{
    background-color: #E55473;
    border-radius: 8px;
    padding: 15px 35px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    border: none;
    margin-top: 20px;
}
.banner-image{
    width: 500px;  
}
/* Flower tree section style start here............ */
.flower-tree-section{
    text-align: center;
    margin-top: 110px;
}

.flower-tree-section p{
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 50px;
}
.flower-tree-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.flower-img{
    width: 300px;
    height: 400px;
    margin-top: 100px;
}
.first-flower-background{
    width: 400px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);   
}
.second-flower-background{
    width: 400px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);   
}
.third-flower-background{
    width: 400px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);   
}
.flower-anchor a{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
}
.flower-anchor{
    margin-top: 20px;
}
/* Hot Deal section style start here............ */
.hot-deal-section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 70px 300px 70px 300px;
    background-color: #FCEEF1;
}
.hot-deal-details{
    max-width: 500px;
    text-align: center;
}
.hot-deal-details p{
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    margin-bottom: 10px;
}
.hot-deal-img{
    width: 270px;
}
/* Instagram section style start here............ */
.instagram-section{
    margin-top: 100px;
    margin-bottom: 50px;
}
.instagram-section p{
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    margin-bottom: 30px;
}
.instagram-image-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.instagram-image{
    width: 300px;
}
/* Subscribe form style start here............ */
.subscribe-form{
    margin: 100px 200px 100px 200px;
    background-image: url("./asset/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0px;
    background-position: center;
}
.subscribe-form p{
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    margin-bottom: 30px;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.form-container input{
    padding: 18px 110px;
    border: none;
    border-radius: 8px;
}
.subscribe-btn{
    background-color: #E55473;
    border-radius: 8px;
    padding: 15px 35px;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    border: none;
}
